@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

::selection {
    background-color: #fff;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #5372f0;
}

.inputBox {
    width: 350px;
    display: flex;
    flex-direction: column;
    background: #fff;
}

h2 {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 10px;
    letter-spacing: 1px;
    border-bottom: 1px solid #ccc;
}

.passwordBox {
    padding: 0 10px;
}

input {
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 17px;
    font-weight: 400;
    outline: 0;
    letter-spacing: 3px;
    border: 1px solid #ccc;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

button {
    text-transform: capitalize;
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

button:first-child {
    width: 69%;
    color: #fff;
    background-color: #5372f0;
}

button:last-child {
    width: 28%;
    color: #6c757d;
    background-color: transparent;
    border: 1px solid #6c757d;
}