@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Roboto:wght@100;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    transition: 0.4s ease-in-out;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(6, 146, 99);

}

.chronometre {
    width: 30rem;
    text-align: center;
    padding: 10px;
    border-radius: 0.5rem;
    background-color: white;
}

.time {
    width: 100%;
    border: 1px solid rgb(204, 199, 199);
    padding: 0.5rem 0;
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
    font-weight: 500;
}

.time span {
    font-family: 'Dancing Script', cursive;

}

.controls {
    display: flex;
    justify-content: space-between;
}

button {
    width: 30%;
    padding: 10px 20px;
    font-size: 1rem;
    text-transform: capitalize;
    background-color: rgb(6, 146, 99);
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 0.5rem;
}

button:hover {
    transform: scale(0.9);
    cursor: pointer;
}