@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 0;
    background-color: #7f99df;
    color: #fff;
}

h1 {
    margin-bottom: 15px;
}

section {
    height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: 32%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.error_message {
    color: rgb(226, 30, 30);
    padding: 15px;
}

input,
button {
    width: 100%;
    margin: 10px 0;
    padding: 15px;
    text-align: center;
    outline: 0;
    border: 0;
    border-radius: 6px;
}

input {
    background-color: #dfdef4;
}

button {
    background-color: #255fe5;
    color: #fff;
    text-transform: capitalize;
    cursor: pointer;
}

.result {
    margin-top: 10px;
    padding: 15px;
    font-size: 13px;
    border: 1px solid #255fe5;
    color: #255fe5;
    border-radius: 6px;
    display: none;
}